


a {
    color:brown;
}

.saturs {
    text-align: center;
    padding-top: 100px;

}
.atstarpe {
    text-align: bottom;
    padding-bottom: 450px;
    color: darkblue;
    
}
.bgimg {
   
  background-image: url("images/datorika.jpg");
  background-size:cover;
  min-height:100%;
  opacity: 0.5;
  }
.sākums {  color:  darkblue;
               font-weight: bold;
               text-align: center;
               padding-top: 100px
}
h2 {
    text-align: center;
}
p {
    text-align: center;
    font-weight: bold
}
.pirmābilde {
    vertical-align:middle;
    
}
.center {
    display: inline-block;
    margin-left: 20px;
    margin-right: auto;
    width:20%;
        
}
.right {
    display: inline-block;
    margin-left: 40px;
    margin-right: auto;
    width:40%;
    
    
    
}