


a {
    color:brown;
}

.nosaukums {
    color: lightcoral;
}
.saturs {
    text-align: center;
    padding-top: 100px;

}
.atstarpe {
    text-align: bottom;
    padding: 150px;
}
.bgimg {
   

  background-image: url("images/datorika.jpg");
  background-size:cover;
  min-height:100%;
  opacity: 0.5;
  }
.virsraksts {  color:  darkblue;
               font-weight: bold; 
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}